<div class="container" ng-controller="dressListController as ctrl">
    <div>
        <button ng-click="ctrl.logDress()">Reset data</button>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div>
                <p><a href="#">My Profile</a></p>
                <img src="resources/images/dress/mainImages/{{ctrl.dress.imageSource}}" class="img-responsive"alt="Dress photo">
            </div>
            <div class="row">
                <div ng-repeat="img in ctrl.dress.dressImageSet" class="col-sm-3">
                    <img src="resources/images/dress/otherImages/{{img.imageSource}}" class="img-responsive"alt="Dress photo">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                <p>{{ctrl.dress.manufacturer.name}}</p>
                <p>{{ctrl.dress.category.name}}</p>
                <p>{{ctrl.dress.price}}</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Size<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="size in ctrl.dress.sizeSet">{{size.ukSize}}</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Color<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="color in ctrl.dress.colorSet">{{color.color}}</li>
                    </ul>
                </div>
            </div>
            <div>
                <button class="btn btn-primary" type="button">Add to bag!</button>
            </div>
            <div>
                <p>{{ctrl.dress.description.english}}</p>
                <p>{{ctrl.dress.id}}</p>
            </div>
        </div>
    </div>
</div>