<div class="container" ng-controller="dressListController as ctrl" ng-init="ctrl.fetchDressProperties()">
    <div>
        <button ng-click="ctrl.logImgFiles()">Log img files</button>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div ngf-drop ngf-select ng-model="ctrl.imageFiles" class="drop-box"
                 ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                 accept="image/*" ngf-pattern="'image/*'">
                <span>Drag or click to upload image</span>
            </div>
            <div ng-repeat="img in ctrl.imageFiles">
                <div ng-init="ctrl.readAsDataUrl(ctrl.imageFiles[0])">
                    <img ng-show="ctrl.imgSrc" ng-src={{ctrl.imgSrc}} class="img-responsive" alt="Dress photo">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-4">
                    <label for="manufacturerSelect">Manufacturer:</label>
                    <select id="manufacturerSelect"
                            ng-model="ctrl.dress.manufacturer"
                            ng-options="item.name for item in ctrl.manufacturers">
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="categorySelect">Category:</label>
                    <select id="categorySelect"
                            ng-model="ctrl.dress.category"
                            ng-options="item.name for item in ctrl.categories">
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="typeSelect">Type:</label>
                    <select id="typeSelect"
                            ng-model="ctrl.dress.type"
                            ng-options="item.name for item in ctrl.types">
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label for="sizeSelect">Size:</label>
                    <select id="sizeSelect"
                            ng-model="ctrl.dress.sizeSet"
                            ng-options="item.ukSize for item in ctrl.sizes"
                            multiple>
                    </select>
                </div>
                <div class="col-sm-6">
                    <label for="colorSelect">Color:</label>
                    <select id="colorSelect"
                            ng-model="ctrl.dress.colorSet"
                            ng-options="item.color for item in ctrl.colors"
                            multiple>
                    </select>
                </div>
            </div>
            <div>
                <input type="text" ng-model="ctrl.dress.price" class="form-control input-sm" placeholder="Enter dress price"/>
                <input type="text" ng-model="ctrl.dress.description.english" class="form-control input-sm" placeholder="Enter dress description"/>
                <input type="text" ng-model="ctrl.dress.amount" class="form-control input-sm" placeholder="Enter amount"/>
                <input type="text" ng-model="ctrl.dress.releaseDate" class="form-control input-sm" placeholder="Enter release date"/>
            </div>
        </div>
    </div>
    <div>
        <button ng-show="ctrl.dress.id" ng-click="ctrl.editDress()">Edit dress</button>
        <button ng-show="!ctrl.dress.id" ng-click="ctrl.addDress()">Add dress</button>
    </div>
    <div>
        <a href="#/categoriesList">Categories</a>
    </div>
</div>