<div class="container" ng-controller="dressListController as ctrl" ng-init="ctrl.fetchDressById()">
    <div class="row">
        <div class="col-sm-6">
            <div>
                <img src="images/dress/mainImages/{{ctrl.dress.imageSource}}" style="max-height: 500px;" class="img-responsive"alt="Dress photo">
            </div>
            <div class="row">
                <div ng-repeat="img in ctrl.dress.dressImageSet" class="col-sm-3">
                    <img src="resources/images/dress/otherImages/{{img.imageSource}}" class="img-responsive"alt="Dress photo">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                <p>{{ctrl.dress.manufacturer.name}}</p>
                <p>{{ctrl.dress.category.name}}</p>
                <p>{{ctrl.dress.price}}</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label for="sizeSelect">Size:</label>
                    <select id="sizeSelect"
                            ng-model="ctrl.dress.sizeSet"
                            ng-options="item.ukSize for item in ctrl.sizes">
                    </select>
                </div>
                <div class="col-sm-6">
                    <label for="colorSelect">Color:</label>
                    <select id="colorSelect"
                            ng-model="ctrl.dress.colorSet"
                            ng-options="item.color for item in ctrl.colors">
                    </select>
                </div>
            </div>
            <div>
                <button ng-click="ctrl." class="btn btn-primary" type="button">Add to bag!</button>
            </div>
            <div>
                <p>{{ctrl.dress.description.english}}</p>
                <p>{{ctrl.dress.id}}</p>
            </div>
        </div>
    </div>
</div>