<div class="container" ng-controller="dressListController as ctrl">
    <div class="row">
        <div ng-repeat="d in ctrl.dresses" class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <button ng-click="ctrl.fetchDressById(d.id)">
                        <img src="resources/images/dress/mainImages/{{d.imageSource}}" class="img-responsive" style="max-height: 250px;" alt="Image">
                    </button>
                </div>
                <div class="panel-footer">
                    <span ng-bind="d.manufacturer.name"></span><br>
                    <span ng-bind="d.category.name"></span><br>
                    <span ng-bind="d.price"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<div><span class="lead">List of Dress </span></div>
<table ng-controller="DressController as ctrl">
    <thead>
    <tr>
        <th>ID</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="d in ctrl.dresses">
        <td style="word-wrap: break-word; max-width: 800px; min-width: 600px"><span ng-bind="d.description.english"></span></td>
        <td><img src="resources/images/coats/cav_empt/1.jpg" alt=" " class="img-responsive" /></td>
        <td>
            <button type="button" ng-click="ctrl.edit(d.id)" class="btn btn-success custom-width">Edit</button>
            <button type="button" ng-click="ctrl.remove(d.id)" class="btn btn-danger custom-width">Remove</button>
        </td>
    </tr>
    </tbody>
</table>
<div class="panel panel-default">
    <div class="panel-heading"><span class="lead">Dress Form </span></div>
    <div class="formcontainer">
        <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
            <div class="row">
                <div class="form-actions floatRight">
                    <input type="submit"  value="{{!ctrl.dress.id ? 'Add' : 'Update'}}" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
                    <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset Form</button>
                </div>
            </div>
        </form>
    </div>
</div>

-->
