<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Dress Store</title>
    <link href="resources/css/foo.css" rel="stylesheet">
    <link href="resources/css/bootstrap.min.css" rel="stylesheet" />
    <link href="resources/css/font-awesome.min.css" rel="stylesheet">
    <link href="resources/css/animate.min.css" rel="stylesheet">
    <link href="resources/css/prettyPhoto.css" rel="stylesheet">
    <link href="resources/css/responsive.css" rel="stylesheet">
    <link href="resources/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="resources/css/main.css" rel="stylesheet">
    <link rel="shortcut icon" href="resources/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="resources/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="resources/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="resources/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="resources/images/ico/apple-touch-icon-57-precomposed.png">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body class="homepage ng-cloak" ng-app="myApp">
<header id="header">
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div ng-controller="dressListController as ctrl" class="col-sm-3 col-xs-4" ng-init="ctrl.fetchCurrencyInfo()">
                    <span>Currency: </span>
                    <select ng-model="$root.currentCurrency"
                            ng-options="key for (key, value) in currencyInfo.rates">
                    </select>
                </div>
                <div class="col-sm-5 col-xs-4">
                    <div class="social-header">
                        <ul class="social-share">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://github.com/IvanPaharev/clothes-store"><i class="fa fa-github"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://vk.com/id254693006"><i class="fa fa-vk"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-4 social-header" ng-controller="loginController as ctrl">
                    <ul class="reg-list" ng-init="ctrl.initAuthentication()">
                        <li><a href="#/userBag"><i class="fa fa-shopping-cart"></i></a></li>
                        <li ng-show="!authenticated"><a href="#/register"><!--ui-sref="register">-->Register</a></li>
                        <li ng-show="!authenticated"><a href="#/login"> <!--ui-sref="login">-->Sign in</a></li>
                        <li ng-show="authenticated"><a href="#/userRoom">{{user.name}}</a></li>
                        <li ng-show="authenticated && isAdmin"><a href="#/dressAdmin">Admin dress</a></li>
                        <li ng-show="authenticated"><a href="#" ng-click="ctrl.logout()">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/"><img src="resources/images/logo.png" alt="logo"></a>
            </div>

            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="#/dressList/women"><!--ui-sref="dressList">-->Women</a></li>
                    <li><a href="#/dressList/men">Men</a></li>
                    <li><a href="#/dressList/girl">Girls</a></li>
                    <li><a href="#/dressList/boy">Boys</a></li>
                    <li><a href="#/dressList/new">New</a></li>
                    <li>
                        <div class="search" style="padding-top: 5px">
                            <form role="form">
                                <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                <i class="fa fa-search"></i>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div ng-view class="container"></div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2017 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">Dress Store</a>. All Rights Reserved.
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Faq</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="resources/js/angular-bootstrap.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>-->
<script src="resources/js/ng-file-upload.js"></script>
<script src="resources/js/angular/app.js"></script>
<script src="resources/js/angular/service/dressService.js"></script>
<script src="resources/js/angular/service/categoryService.js"></script>
<script src="resources/js/angular/service/userService.js"></script>
<script src="resources/js/angular/service/paymentService.js"></script>
<script src="resources/js/angular/controller/dressListController.js"></script>
<script src="resources/js/angular/controller/categoryController.js"></script>
<script src="resources/js/angular/controller/paymentController.js"></script>
<script src="resources/js/angular/controller/loginController.js"></script>
<script src="resources/js/angular/controller/userController.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>-->
<script src="resources/js/jquery.js"></script>
<script src="resources/js/bootstrap.min.js"></script>
<script src="resources/js/jquery.prettyPhoto.js"></script>
<script src="resources/js/jquery.isotope.min.js"></script>
<script src="resources/js/main.js"></script>
<script src="resources/js/wow.min.js"></script>
<script src="resources/js/jquery.wmuSlider.js"></script>
<script>
    $('.example1').wmuSlider();
</script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); }
</script>
<script src="resources/js/simpleCart.min.js"></script>
<script>
    new WOW().init();
</script>
<script src="resources/js/classie.js"></script>
<script src="resources/js/uisearch.js"></script>
<script>
    new UISearch( document.getElementById( 'sb-search' ) );
</script>
</body>
</html>