<div class="container" ng-controller="dressListController as ctrl" ng-init="ctrl.fetchDressesByType()">
    <div class="row">
        <div class="col-sm-2">
            <span>Categories:</span>
            <div ng-repeat="category in ctrl.categories">
                <div class="action-checkbox">
                    <input id="{{category.name}}" type="checkbox" value="{{category.name}}"
                           ng-checked="ctrl.criteria.selectedCategories.indexOf(category) > -1"
                           ng-click="ctrl.toggleCategorySelection(category)" />
                    <label for="{{category.name}}">{{category.name}}</label>
                </div>
            </div>
            <span>Manufacturers:</span>
            <div ng-repeat="manufacturer in ctrl.manufacturers">
                    <div class="action-checkbox">
                    <input id="{{manufacturer.name}}" type="checkbox" value="{{manufacturer.name}}"
                           ng-checked="ctrl.criteria.selectedManufacturers.indexOf(manufacturer) > -1"
                           ng-click="ctrl.toggleManufacturerSelection(manufacturer)" />
                    <label for="{{manufacturer.name}}">{{manufacturer.name}}</label>
                </div>
            </div>
            <div ng-show="ctrl.isErrors" class="alert alert-danger">
                <p ng-repeat="error in ctrl.errorMessages">{{error.defaultMessage}}</p>
            </div>
            <span>Price from:</span>
            <input type="number" min="0" ng-model="ctrl.criteria.priceFrom" class="form-control input-sm"
                   placeholder="Price from" ng-blur="ctrl.fetchDressesByCriteria()"/>
            <span>Price to:</span>
            <input type="number" min="0" ng-model="ctrl.criteria.priceTo" class="form-control input-sm"
                   placeholder="Price to" ng-blur="ctrl.fetchDressesByCriteria()"/>
            <label for="colorSelect">Color:</label>
            <select id="colorSelect"
                    ng-model="ctrl.criteria.color"
                    ng-options="item.color for item in ctrl.colors"
                    ng-change="ctrl.fetchDressesByCriteria()">
            </select>
            <span>Sizes:</span>
            <div ng-repeat="size in ctrl.sizes">
                <div class="action-checkbox">
                    <input id="{{size.common}}" type="checkbox" value="{{size.common}}"
                           ng-checked="ctrl.criteria.selectedSizes.indexOf(size) > -1"
                           ng-click="ctrl.toggleSizeSelection(size)" />
                    <label for="{{size.common}}">{{size.common}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-4">
                    <label for="sortSelect">Sort by:</label>
                    <select id="sortSelect"
                            ng-model="ctrl.criteria.sort"
                            ng-options="item.name for item in ctrl.sorts"
                            ng-change="ctrl.fetchDressesByCriteria()">
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="pageSizeSelect">On page:</label>
                    <select id="pageSizeSelect"
                            ng-model="ctrl.criteria.pageSize"
                            ng-options="item for item in ctrl.pageSizes"
                            ng-change="ctrl.fetchDressesByCriteria()">
                    </select>
                </div>
                <div class="col-sm-4">
                    <button ng-repeat="page in ctrl.pages track by $index" class="page-button" ng-click="ctrl.fetchPage(page)">{{page}}</button>
                </div>
            </div>
            <div class="row">
                <div ng-repeat="d in ctrl.dresses" class="col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <a href="#/dress/{{d.id}}">
                                <img ng-src="images/dress/mainImages/{{d.imageSource}}" class="img-responsive" style="height: 200px;" alt="Image">
                            </a>
                        </div>
                        <div class="panel-footer">
                            <span>Manufacturer: {{d.manufacturer.name}}</span><br>
                            <span>Category: {{d.category.name}}</span><br>
                            <span>Price: {{(d.price * currentCurrency).toFixed(2)}}</span><br>
                            <span>Release date: {{d.releaseDate}}</span>
                        </div>
                        <div restrict access="admin">
                            <a href="#/dressAdmin/{{d.id}}">
                                <button>Edit</button>
                            </a>
                            <button ng-click="ctrl.removeDress(d.id)">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <span>Sort by:</span>
                    <select ng-model="ctrl.criteria.sort"
                            ng-options="item.name for item in ctrl.sorts"
                            ng-change="ctrl.fetchDressesByCriteria()">
                    </select>
                </div>
                <div class="col-sm-4">
                    <span>On page:</span>
                    <select ng-model="ctrl.criteria.pageSize"
                            ng-options="item for item in ctrl.pageSizes"
                            ng-change="ctrl.fetchDressesByCriteria()">
                    </select>
                </div>
                <div class="col-sm-4">
                    <button ng-repeat="page in ctrl.pages track by $index" class="page-button" ng-click="ctrl.fetchPage(page)">{{page}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
