<div class="container" ng-controller="dressListController as ctrl" ng-init="ctrl.fetchDressById()">
    <div ng-show="ctrl.isErrors" class="alert alert-danger">
        <p ng-repeat="error in ctrl.errorMessages">{{error.defaultMessage}}</p>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div>
                <img ng-src="images/dress/mainImages/{{ctrl.dress.imageSource}}" style="max-height: 500px;" class="img-responsive"alt="Dress photo">
            </div>
            <div class="row">
                <div ng-repeat="img in ctrl.dress.dressImages" class="col-sm-3">
                    <img ng-src="images/dress/otherImages/{{img.imageSource}}" class="img-responsive"alt="Dress photo">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                <p>Manufacturer: {{ctrl.dress.manufacturer.name}}</p>
                <p>Category: {{ctrl.dress.category.name}}</p>
                <p>Price: {{(ctrl.dress.price * currentCurrency).toFixed(2)}}</p>
                <p>Release date: {{ctrl.dress.releaseDate}}</p>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <span>Size:</span>
                    <select ng-if="ctrl.sizeType == 'common'"
                            ng-model="ctrl.size"
                            ng-options="item.common for item in ctrl.sizes">
                    </select>
                    <select ng-if="ctrl.sizeType == 'uk'"
                            ng-model="ctrl.size"
                            ng-options="item.uk for item in ctrl.sizes">
                    </select>
                    <select ng-if="ctrl.sizeType == 'us'"
                            ng-model="ctrl.size"
                            ng-options="item.us for item in ctrl.sizes">
                    </select>
                    <select ng-if="ctrl.sizeType == 'italy'"
                            ng-model="ctrl.size"
                            ng-options="item.italy for item in ctrl.sizes">
                    </select>
                    <select ng-if="ctrl.sizeType == 'france'"
                            ng-model="ctrl.size"
                            ng-options="item.france for item in ctrl.sizes">
                    </select>
                    <select ng-if="ctrl.sizeType == 'russia'"
                            ng-model="ctrl.size"
                            ng-options="item.russia for item in ctrl.sizes">
                    </select>
                    <select ng-if="ctrl.sizeType == 'germany'"
                            ng-model="ctrl.size"
                            ng-options="item.germany for item in ctrl.sizes">
                    </select>
                    <select ng-if="ctrl.sizeType == 'japan'"
                            ng-model="ctrl.size"
                            ng-options="item.japan for item in ctrl.sizes">
                    </select>
                </div>
                <div class="col-sm-3">
                    <label for="sizeTypeSelect">Size type:</label>
                    <select id="sizeTypeSelect"
                            ng-model="ctrl.sizeType"
                            ng-options="item for item in ctrl.sizeTypes">
                    </select>
                </div>
                <div class="col-sm-3">
                    <label for="colorSelect">Color:</label>
                    <select id="colorSelect"
                            ng-model="ctrl.color"
                            ng-options="item.color for item in ctrl.colors">
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="number" min="1" ng-model="ctrl.dressQuantity" class="form-control input-sm" placeholder="Enter amount"/>
                </div>
            </div>
            <div>
                <button ng-click="ctrl.addDressToBag()" class="btn btn-primary" type="button">Add to bag!</button>
            </div>
            <div>
                <p>Description: {{ctrl.dress.description.english}}</p>
                <p>Dress ID: {{ctrl.dress.id}}</p>
            </div>
        </div>
    </div>
</div>