<div class="container" ng-controller="statusController as ctrl" ng-init="ctrl.getAll()">
    <div class="row">
        <div class="col-sm-3">
            <ul>
                <li><a href="#/dressAdmin">Add dress</a></li>
                <li><a href="#/category">Categories</a></li>
                <li><a href="#/manufacturer">Manufacturers</a></li>
                <li><a href="#/type">Types</a></li>
                <li><a href="#/user">Users</a></li>
                <li><a href="#/color">Colors</a></li>
                <li><a href="#/size">Sizes</a></li>
                <li><a href="#/role">Roles</a></li>
                <li><a href="#/order">Orders</a></li>
                <li><a href="#/status">Statuses</a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            <div ng-show="ctrl.isErrors" class="alert alert-danger">
                <p ng-repeat="error in ctrl.errorMessages">{{error.defaultMessage}}</p>
            </div>
            <div class="row">
                <div>
                    <span>Existing statuses:</span>
                </div>
                <div class="row">
                    <div ng-repeat="status in ctrl.entities" class="col-sm-6">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <p>ID: {{status.id}} Status: {{status.status}}</p><br>
                                <p>Description: {{status.description}}</p><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>