<div class="container" ng-controller="userController as ctrl" ng-init="ctrl.fetchUser()">
    <div>
        <div>
            <span>User info:</span>
            <div ng-show="ctrl.isInfoErrors" class="alert alert-danger">
                <p ng-repeat="error in ctrl.errorMessages">{{error.defaultMessage}}</p>
            </div>
            <span>Email:</span>
            <input type="email" ng-model="ctrl.user.email" class="form-control input-sm" placeholder="Enter your email address"/>
            <span>First name:</span>
            <input type="text" ng-model="ctrl.user.firstname" class="form-control input-sm" placeholder="Enter your first name"/>
            <span>Last name:</span>
            <input type="text" ng-model="ctrl.user.lastname" class="form-control input-sm" placeholder="Enter your last name"/>
            <span>Phone:</span>
            <input type="text" ng-model="ctrl.user.phone" class="form-control input-sm" placeholder="Enter your phone"/>
            <button ng-click="ctrl.updateUser()" class="btn btn-success">Confirm</button>
        </div>
    </div>
</div>